body {
	font: normal 12px Arial;
}

/* Page structure */

#res_edit_top_panel {
	width: 100%;
}

.res_edit_top_elem {
	display: table-cell;
	padding: 10px;
}

#res_edit_full_panel {
	width: 100%;
}

#res_edit_main_panel {
}

#res_edit_header_panel {
}
#res_edit_header_panel.res_edit_vlr {
	float: left;
}
#res_edit_header_panel.res_edit_vrl {
	float: right;
}

#res_edit_dir_panel {
	width: 60px;
	height: 120px;
	position: relative;
}
#res_edit_dir_panel.res_edit_hlr {
	float: left;
}
#res_edit_dir_panel.res_edit_hrl {
	float: right;
}
#res_edit_dir_panel.res_edit_vlr {
}
#res_edit_dir_panel.res_edit_vrl {
}
#res_edit_none {
	width: 56px;
}
#res_edit_hlr, #res_edit_hrl, #res_edit_vlr, #res_edit_vrl {
	width: 26px;
}
#res_edit_none {
	top: 0;
	left: 0;
}
#res_edit_hlr {
	top: 30px;
	left: 0;
}
#res_edit_hrl {
	top: 30px;
	left: 30px;
}
#res_edit_vlr {
	top: 60px;
	left: 0;
}
#res_edit_vrl {
	top: 60px;
	left: 30px;
}
#res_edit_size_panel {
	top: 90px;
	left: 0;
	position: relative;
	width: 60px;
	height: 30px;
}
#res_edit_size_check {
	position: absolute;
	top: 3px;
	width: 15px;
	height: 15px;
	left: 0;
	margin-left: 0;
}
#res_edit_size_text {
	position: absolute;
	top: 3px;
	width: 35px;
	right: 0;
}

#res_edit_preview_panel {
	border: 2px solid #777777;
	-webkit-backface-visibility: hidden;
}
#res_edit_preview_panel.res_edit_hlr {
	overflow-x: scroll;
}
#res_edit_preview_panel.res_edit_hrl {
	overflow-x: scroll;
}
#res_edit_preview_panel.res_edit_vlr {
	height: 60vh;
	overflow-y: scroll;
}
#res_edit_preview_panel.res_edit_vrl {
	height: 60vh;
	overflow-y: scroll;
}
#res_edit_preview_panel:focus {
	border: 2px dotted blue;
	outline: none;
}
#res_edit_res_preview {
	display: block;
	padding: 5px;
}
#res_edit_res_preview.res_edit_hlr {
}
#res_edit_res_preview.res_edit_hrl {
	margin-left: auto;
	margin-right: 0;
}
#res_edit_res_preview.res_edit_vlr {
}
#res_edit_res_preview.res_edit_vrl {
	margin-left: auto;
	margin-right: 0;
}
#res_edit_res_canvas {
	display: none;
	position: absolute;
}
#res_edit_res_focus {
	display: none;
	position: absolute;
}

#res_edit_tree_panel {
	overflow-x: scroll;
	padding: 0;
	margin: 0;
	border: 2px solid #777777;
}
#res_edit_tree_panel.res_edit_hlr, #res_edit_tree_panel.res_edit_hrl {
	clear: both;
}
#res_edit_tree_panel.res_edit_vlr {
}
#res_edit_tree_panel.res_edit_vrl {
}
#res_edit_tree_panel:focus {
	border: 2px dotted blue;
	outline: none;
}

#res_edit_legend_panel {
}

#res_edit_footer_panel {
	clear: both;
}

#res_edit_res_text {
	width: 95%;
	margin-right: 10px;
}

#res_edit_parse_button {
	clear: both;
}

/* Sign menu */

#res_edit_cats_panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 94%;
	width: 94%;
	z-index: 10;
	overflow: auto;
	background-color: #eeeeee;
	border: 5px solid #3a3a3a;
	box-sizing: border-box;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: 2px 2px 4px #3a3a3a;
	-moz-box-shadow: 2px 2px 4px #3a3a3a;
	-webkit-box-shadow: 2px 2px 4px #3a3a3a;
}
#res_edit_cats_panel:focus {
	outline: none;
}

#res_edit_cats_panel_close {
	z-index: 20;
}
#res_edit_cats_panel_close:link, #res_edit_cats_panel_close:visited {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	display: block;
	font: bold 18px Arial;
	text-align: center;
	text-decoration: none;
	padding: 0;
	color: #fff;
	background-color: #000000;
	border: 3px solid #fff;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	box-shadow: 0 0 1px 1px #3a3a3a;
	-moz-box-shadow: 0 0 1px 1px #3a3a3a;
	-webkit-box-shadow: 0 0 1px 1px #3a3a3a;
}
#res_edit_cats_panel_close:before {
	content: "X";
}
#res_edit_cats_panel_close:hover, #res_edit_cats_panel_close:active, #res_edit_cats_panel_close:focus {
	box-shadow: 0 0 1px 1px #c00;
	color:#fff;
	background-color: #c00;
}
#res_edit_cats_panel_close span {
	text-indent: -200em;
	display: block;
}

#res_edit_sign_info {
	font-size: 14px;
	width: 42%;
	height: 85%;
	position: absolute; top: 5%; left: 55%;
	z-index: 15;
	background-color: White;
	padding: 10px;
	border: 2px solid #777777;
	overflow-y: hidden;
}

/* Legend */

#res_edit_legend_panel {
	height: 210px;
	display: inline-block;
}

#res_edit_structure_panel {
	height: 210px;
	margin: 5px;
	width: 140px;
	float: left;
}

#res_edit_delete_button {
	color: Red;
}
#res_edit_delete_button:disabled {
	color: White;
}

#res_edit_param_type {
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

#res_edit_place_grid td {
	white-space: nowrap;
	padding: 5px;
}

#res_edit_shades_grid {
	width: 150px;
	height: 150px;
	overflow: auto;
}
#res_edit_shades_grid table {
	border-collapse: collapse;
}
#res_edit_shades_grid td {
	padding: 0;
}

.res_edit_shade_button {
	display: block;
	width: 12px;
	height: 12px;
	text-decoration: none;
	outline: none;
	border: 2px solid #777777;
	cursor: pointer;
}
.res_edit_shade_button.res_edit_off {
	background-color: White;
}
.res_edit_shade_button.res_edit_on {
	background-color: Black;
}
.res_edit_shade_button.res_edit_off:hover {
	background-color: LightGray;
}
.res_edit_shade_button.res_edit_on:hover {
	background-color: DarkGray;
}
