/* Concatenation of source files */

/* res.css */

@font-face {
	font-family: 'Hieroglyphic';
	src: url('NewGardiner.ttf') format('truetype');
}
@font-face {
	font-family: 'HieroglyphicAux';
	src: url('HieroglyphicAux.ttf') format('truetype');
}
@font-face {
	font-family: 'HieroglyphicPlain';
	src: url('CaslonRoman.ttf') format('truetype');;
}

span.hi {
	font-family: Hieroglyphic;
}
span.hiaux {
	font-family: HieroglyphicAux;
}
span.hinotes {
	font-family: HieroglyphicPlain;
}

/* hack to force timely loading of fonts */
#res_outsidescreen {
	overflow: hidden;
	position: relative;
}
.res_outsidescreen_elem {
	position: absolute;
	height: 100px;
	width: 100px;
	right: 50px;
	top: 50px;
}

.res {
	vertical-align: -10px;
	font-size: 36px;
}

.res_uni {
	vertical-align: -10px;
	font-size: 36px;
}

.res_demo {
	border: 1px solid #000000;
}

span.res_sign {
	font-family: Hieroglyphic;
	vertical-align: 0;
	font-size: 36px;
	font-weight: normal;
}
span.res_high {
	vertical-align: -10px;
}
span.res_low {
	vertical-align: 0;
	line-height: 70%;
}

@font-face {
	font-family: 'Transliteration';
	src: url('DejaVuSans-Bold.ttf') format('truetype');;
}

span.egytransl {
	font-family: Transliteration;
	font-weight: normal;
	font-style: normal;
}

/* uni_edit.css */

@font-face {
    font-family: 'HieroglyphicSMP';
    src: url('NewGardinerSMP.ttf') format('truetype');
}

body {
	font: normal 12px Arial;
}

/* Page structure */

#uni_edit_top_panel {
	width: 100%;
	z-index: 5;
}

.uni_edit_top_elem {
	display: table-cell;
	padding: 10px;
}

#uni_edit_full_panel {
	width: 100%;
}

#uni_edit_main_panel {
}

#uni_edit_header_panel {
}
#uni_edit_header_panel.uni_edit_vlr {
	float: left;
}
#uni_edit_header_panel.uni_edit_vrl {
	float: right;
}

#uni_edit_dir_panel {
	width: 60px;
	height: 60px;
	position: relative;
}
#uni_edit_dir_panel.uni_edit_hlr {
	float: left;
}
#uni_edit_dir_panel.uni_edit_hrl {
	float: right;
}
#uni_edit_dir_panel.uni_edit_vlr {
}
#uni_edit_dir_panel.uni_edit_vrl {
}
#uni_edit_hlr, #uni_edit_hrl, #uni_edit_vlr, #uni_edit_vrl {
	width: 26px;
}
#uni_edit_hlr {
	top: 0px;
	left: 0;
}
#uni_edit_hrl {
	top: 0px;
	left: 30px;
}
#uni_edit_vlr {
	top: 30px;
	left: 0;
}
#uni_edit_vrl {
	top: 30px;
	left: 30px;
}
#uni_edit_size_panel {
	top: 60px;
	left: 0;
	position: relative;
	width: 60px;
	height: 30px;
}
#uni_edit_size_check {
	position: absolute;
	top: 3px;
	width: 15px;
	height: 15px;
	left: 0;
	margin-left: 0;
}
#uni_edit_size_text {
	position: absolute;
	top: 3px;
	width: 35px;
	right: 0;
}

#uni_edit_preview_panel {
	border: 2px solid #777777;
	-webkit-backface-visibility: hidden;
}
#uni_edit_preview_panel.uni_edit_hlr {
	overflow-x: scroll;
}
#uni_edit_preview_panel.uni_edit_hrl {
	overflow-x: scroll;
}
#uni_edit_preview_panel.uni_edit_vlr {
	height: 60vh;
	overflow-y: scroll;
}
#uni_edit_preview_panel.uni_edit_vrl {
	height: 60vh;
	overflow-y: scroll;
}
#uni_edit_preview_panel:focus {
	border: 2px dotted blue;
	outline: none;
}
#uni_edit_res_preview {
	display: block;
	padding: 5px;
}
#uni_edit_res_preview.uni_edit_hlr {
}
#uni_edit_res_preview.uni_edit_hrl {
	margin-left: auto;
	margin-right: 0;
}
#uni_edit_res_preview.uni_edit_vlr {
}
#uni_edit_res_preview.uni_edit_vrl {
	margin-left: auto;
	margin-right: 0;
}
#uni_edit_res_canvas {
	display: none;
	position: absolute;
}
#uni_edit_res_focus {
	display: none;
	position: absolute;
}

#uni_edit_tree_panel {
	overflow-x: scroll;
	padding: 0;
	margin: 0;
	border: 2px solid #777777;
}
#uni_edit_tree_panel.uni_edit_hlr, #uni_edit_tree_panel.uni_edit_hrl {
	clear: both;
}
#uni_edit_tree_panel.uni_edit_vlr {
}
#uni_edit_tree_panel.uni_edit_vrl {
}
#uni_edit_tree_panel:focus {
	border: 2px dotted blue;
	outline: none;
}

#uni_edit_legend_panel {
}

#uni_edit_footer_panel {
	clear: both;
}

#uni_edit_uni_text {
	width: 95%;
	margin-right: 10px;
}

#uni_edit_parse_button {
	clear: both;
}

#uni_edit_chars_text {
	clear: both;
	width: 95%;
	margin-right: 10px;
	margin-top: 10px;
	font-family: HieroglyphicSMP;
	font-size: 30px;
}

/* Sign menu */

#uni_edit_cats_panel {
	position: absolute;
	top: 2%;
	left: 2%;
	height: 94%;
	width: 94%;
	z-index: 10;
	overflow: auto;
	background-color: #eeeeee;
	border: 5px solid #3a3a3a;
	box-sizing: border-box;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: 2px 2px 4px #3a3a3a;
	-moz-box-shadow: 2px 2px 4px #3a3a3a;
	-webkit-box-shadow: 2px 2px 4px #3a3a3a;
}
#uni_edit_cats_panel:focus {
	outline: none;
}

#uni_edit_cats_panel_close {
	z-index: 20;
}
#uni_edit_cats_panel_close:link, #uni_edit_cats_panel_close:visited {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	display: block;
	font: bold 18px Arial;
	text-align: center;
	text-decoration: none;
	padding: 0;
	color: #fff;
	background-color: #000000;
	border: 3px solid #fff;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	box-shadow: 0 0 1px 1px #3a3a3a;
	-moz-box-shadow: 0 0 1px 1px #3a3a3a;
	-webkit-box-shadow: 0 0 1px 1px #3a3a3a;
}
#uni_edit_cats_panel_close:before {
	content: "X";
}
#uni_edit_cats_panel_close:hover, #uni_edit_cats_panel_close:active, #uni_edit_cats_panel_close:focus {
	box-shadow: 0 0 1px 1px #c00;
	color:#fff;
	background-color: #c00;
}
#uni_edit_cats_panel_close span {
	text-indent: -200em;
	display: block;
}

#uni_edit_sign_info {
	font-size: 14px;
	width: 42%;
	height: 85%;
	position: absolute; top: 5%; left: 55%;
	z-index: 15;
	background-color: White;
	padding: 10px;
	border: 2px solid #777777;
	overflow-y: hidden;
}

/* Legend */

#uni_edit_legend_panel {
	height: 210px;
	display: inline-block;
}

#uni_edit_structure_panel {
	height: 210px;
	margin: 5px;
	width: 140px;
	float: left;
}

#uni_edit_delete_button {
	color: Red;
}
#uni_edit_delete_button:disabled {
	color: White;
}

#uni_edit_param_type {
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

#uni_edit_place_grid td {
	white-space: nowrap;
	padding: 5px;
}

/* common_edit.css */

/* Legend */

.common_edit_structure_button {
	font-size: 12px;
	font-weight: bold;
	width: 60px;
	height: 19px;
	line-height: 12px;
	padding-top: 1px;
	padding-bottom: 2px;
	margin: 1px;
	border: 1px solid Black;
	background-color: #DDDDDD;
}
.common_edit_structure_button:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}
.common_edit_structure_button:disabled {
	color: White;
	background-color: White;
	border: 1px solid Lightgray;
	cursor: default;
}

.common_edit_parameter_panel {
	height: 210px;
	margin-top: 5px;
	margin-right: 20px;
	float: left;
	font-size: 14px;
}

.common_edit_param_row {
	height: 25px;
}

/* Sign menu */

.common_edit_cats {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 10px 0 4px 5px;
}
.common_edit_cats li {
	display: table-cell;
}
.common_edit_cats li a {
	color: #42454a;
	background-color: #dedbde;
	font-size: 14px;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	padding: 0.3em;
	text-decoration: none;
	outline: none;
}
.common_edit_cats li a:hover {
	background-color: #f1f0ee;
	cursor: pointer;
}
.common_edit_cats li a.common_edit_selected {
	color: #000;
	background-color: #f1f0ee;
	font-weight: bold;
}

.common_edit_cat_section {
	padding: 0.5em;
	background-color: #f1f0ee;
	clear: both;
	display: table;
	padding: 20px 10px 20px 20px;
}

.common_edit_cat_section a:hover {
	cursor: pointer;
}

.common_edit_sign_button {
	display: table-cell;
	float: left;
	margin-right: 10px;
	height: 70px;
}

.common_edit_sign_button_link {
	color: inherit;
}
.common_edit_sign_button_label {
	font-weight: bold;
	text-align: center;
	display: table-row;
}
.common_edit_sign_button_hi {
	font-family: Hieroglyphic;
	font-size: 36px;
	display: table-row;
	line-height: 46px;
}

/* Tree */

div.common_edit_tree {
	padding-bottom: 20px;
	padding-left: 0;
}

.common_edit_tree ul {
	padding-top: 20px;
	padding-left: 0;
	position: relative;
	white-space: nowrap;
}

.common_edit_tree li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.common_edit_tree li ul::before {
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid Black;
	width: 0; height: 20px;
}

.common_edit_tree li::before {
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid Black;
	width: 50%; height: 20px;
}
.common_edit_tree li::after {
	content: '';
	position: absolute; top: 0; left: 50%; right: auto;
	border-top: 2px solid Black;
	width: 50%; height: 20px;
}
.common_edit_tree li::after {
	border-left: 2px solid Black;
}

.common_edit_tree li:first-child::before {
	border: 0 none;
}
.common_edit_tree li:first-child::after {
	border-radius: 8px 0 0 0;
	-webkit-border-radius: 8px 0 0 0;
	-moz-border-radius: 8px 0 0 0;
}
.common_edit_tree li:last-child::before {
	border-right: 2px solid Black;
	border-radius: 0 8px 0 0;
	-webkit-border-radius: 0 8px 0 0;
	-moz-border-radius: 0 8px 0 0;
}
.common_edit_tree li:first-child::before, .common_edit_tree li:last-child::after{
	display: none;
}

.common_edit_tree li:only-child {
	padding-top: 0;
}

.common_edit_tree li a {
	border: 2px solid Gray;
	padding: 5px 10px 3px 10px;
	text-decoration: none;
	color: Blue;
	display: inline-block;
	vertical-align: text-top;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.common_edit_tree li a:hover {
	background: LightGray; color: Black; border: 2px solid Green;
	cursor: pointer;
}

.common_edit_tree li a.common_edit_focus {
	border: 4px solid Blue;
	padding: 3px 8px 1px 8px;
}

.common_edit_node_label {
	overflow-y: hidden;
	font-weight: bold;
	font-size: 24px;
	color: Black;
}

/* Auxiliary */

.common_edit_generic_button {
	font-size: 14px;
	color: Black;
	background-color: #DDDDDD;
	border: 1px solid Black;
	padding: 2px 10px;
	text-decoration: none;
	outline: none;
	cursor: default;
}
.common_edit_generic_button:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}
.common_edit_generic_button:disabled {
	background-color: #dedbde;
	color: Gray;
	cursor: default;
}

.common_edit_danger {
	color: Red;
}

.common_edit_button_unselected, .common_edit_button_selected {
	height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	text-align: center;
	line-height: 26px;
	border: 2px solid #777777;
	cursor: pointer;
	position: absolute;
}
.common_edit_button_unselected {
	background-color: #EEEEEE;
}
.common_edit_button_selected {
	background-color: #AAAAAA;
}
.common_edit_button_unselected:hover {
	background-color: #AAAAAA;
}

input[type="text"].common_edit_text_input {
	box-sizing: border-box;
	height: 18px;
	border: 1px solid #777777;
}

.common_edit_plain_text {
	color: Black;
	font-size: 14px;
}

.common_edit_input_text {
	color: Black;
	background-color: White;
}
.common_edit_input_text:disabled {
	color: Gray;
	background-color: LightGray;
}
.common_edit_error_text {
	color: Red;
	background-color: White;
}
.common_edit_error_text:disabled {
	color: Gray;
	background-color: LightGray;
}

.common_edit_generic_select {
	font-size: 14px;
}
.common_edit_generic_select:enabled {
	cursor: pointer;
}

.common_edit_number_select {
	width: 55px;
	font-size: 14px;
}
.common_edit_number_select:enabled {
	cursor: pointer;
}

.common_edit_u {
	text-decoration: underline;
}

.common_edit_hide {
	display: none;
}
